flow.json
{
  "encodingVersion": {
    "majorVersion": 2,
    "minorVersion": 0
  },
  "maxTimerDrivenThreadCount": 10,
  "registries": [

  ],
  "parameterContexts": [

  ],
  "parameterProviders": [

  ],
  "controllerServices": [

  ],
  "reportingTasks": [

  ],
  "flowAnalysisRules": [

  ],
  "rootGroup": {
    "identifier": "c8e67ce8-a4a8-3dae-aa03-0325f4b2a4fe",
    "instanceIdentifier": "217fcf39-0198-1000-2249-068a2d5815a9",
    "name": "NiFi Flow",
    "comments": "",
    "position": {
      "x": 0,
      "y": 0
    },
    "processGroups": [

    ],
    "remoteProcessGroups": [

    ],
    "processors": [
      {
        "identifier": "7f988e1e-c141-3428-b0c6-5f140c82321b",
        "instanceIdentifier": "21e3bfd5-0198-1000-d4ac-dadc81d43730",
        "name": "PutFile",
        "comments": "",
        "position": {
          "x": 1912,
          "y": -1528
        },
        "type": "org.apache.nifi.processors.standard.PutFile",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.0.0"
        },
        "properties": {
          "Create Missing Directories": "true",
          "Directory": "C:/Users/29948/Downloads",
          "Conflict Resolution Strategy": "fail"
        },
        "propertyDescriptors": {

        },
        "style": {

        },
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [

        ],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "c8e67ce8-a4a8-3dae-aa03-0325f4b2a4fe"
      },
      {
        "identifier": "8ce6b66e-431c-38c7-84f3-6b2654dc6f34",
        "instanceIdentifier": "21dfbfc3-0198-1000-a744-e7da7975c589",
        "name": "ConvertRecord",
        "comments": "",
        "position": {
          "x": 840,
          "y": -1680
        },
        "type": "org.apache.nifi.processors.standard.ConvertRecord",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.0.0"
        },
        "properties": {
          "Include Zero Record FlowFiles": "true",
          "Record Writer": "21e04844-0198-1000-07aa-748b19fa06af",
          "Record Reader": "21e0297a-0198-1000-b728-f07602ccafc2"
        },
        "propertyDescriptors": {

        },
        "style": {

        },
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [

        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [

        ],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "c8e67ce8-a4a8-3dae-aa03-0325f4b2a4fe"
      },
      {
        "identifier": "f3d93f1d-bcac-3445-ab58-a72771fed1ca",
        "instanceIdentifier": "21d92895-0198-1000-9495-4ba7c4dee9c3",
        "name": "ExecuteSQL",
        "comments": "",
        "position": {
          "x": 288,
          "y": -1952
        },
        "type": "org.apache.nifi.processors.standard.ExecuteSQL",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.0.0"
        },
        "properties": {
          "esql-max-rows": "0",
          "dbf-default-precision": "10",
          "Max Wait Time": "0 seconds",
          "Database Connection Pooling Service": "21d9f1f4-0198-1000-7ca9-8a28b67e9900",
          "esql-auto-commit": "true",
          "dbf-user-logical-types": "false",
          "dbf-default-scale": "0",
          "compression-format": "NONE",
          "esql-output-batch-size": "0",
          "esql-fetch-size": "0",
          "SQL select query": "select * from sys.sys_config",
          "dbf-normalize": "false"
        },
        "propertyDescriptors": {

        },
        "style": {

        },
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [

        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [

        ],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "c8e67ce8-a4a8-3dae-aa03-0325f4b2a4fe"
      }
    ],
    "inputPorts": [
      {
        "identifier": "598e60a8-0881-3ac6-a261-76629bb1ea24",
        "instanceIdentifier": "21f4c162-0198-1000-3339-7e069036ab38",
        "name": "1",
        "position": {
          "x": -200,
          "y": -2256
        },
        "type": "INPUT_PORT",
        "concurrentlySchedulableTaskCount": 1,
        "scheduledState": "ENABLED",
        "allowRemoteAccess": true,
        "portFunction": "STANDARD",
        "componentType": "INPUT_PORT",
        "groupIdentifier": "c8e67ce8-a4a8-3dae-aa03-0325f4b2a4fe"
      }
    ],
    "outputPorts": [
      {
        "identifier": "072d42eb-e718-3ec9-aefc-08f8bd0f4af6",
        "instanceIdentifier": "21f4fab9-0198-1000-fdb4-83bafd031606",
        "name": "2",
        "position": {
          "x": 1568.725719954452,
          "y": -2019.8628548635036
        },
        "type": "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount": 1,
        "scheduledState": "ENABLED",
        "allowRemoteAccess": true,
        "portFunction": "STANDARD",
        "componentType": "OUTPUT_PORT",
        "groupIdentifier": "c8e67ce8-a4a8-3dae-aa03-0325f4b2a4fe"
      }
    ],
    "connections": [
      {
        "identifier": "6b33e0f7-4e55-3e61-b29c-9b48d6997ea0",
        "instanceIdentifier": "21e47594-0198-1000-6eef-a9e81fc19942",
        "name": "",
        "source": {
          "id": "f3d93f1d-bcac-3445-ab58-a72771fed1ca",
          "type": "PROCESSOR",
          "groupId": "c8e67ce8-a4a8-3dae-aa03-0325f4b2a4fe",
          "name": "ExecuteSQL",
          "comments": "",
          "instanceIdentifier": "21d92895-0198-1000-9495-4ba7c4dee9c3"
        },
        "destination": {
          "id": "8ce6b66e-431c-38c7-84f3-6b2654dc6f34",
          "type": "PROCESSOR",
          "groupId": "c8e67ce8-a4a8-3dae-aa03-0325f4b2a4fe",
          "name": "ConvertRecord",
          "comments": "",
          "instanceIdentifier": "21dfbfc3-0198-1000-a744-e7da7975c589"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [

        ],
        "bends": [

        ],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "c8e67ce8-a4a8-3dae-aa03-0325f4b2a4fe"
      },
      {
        "identifier": "b1f25417-fd27-3edd-945b-f07b2e673f5f",
        "instanceIdentifier": "21e48ec9-0198-1000-54d9-486e10b69d48",
        "name": "",
        "source": {
          "id": "8ce6b66e-431c-38c7-84f3-6b2654dc6f34",
          "type": "PROCESSOR",
          "groupId": "c8e67ce8-a4a8-3dae-aa03-0325f4b2a4fe",
          "name": "ConvertRecord",
          "comments": "",
          "instanceIdentifier": "21dfbfc3-0198-1000-a744-e7da7975c589"
        },
        "destination": {
          "id": "7f988e1e-c141-3428-b0c6-5f140c82321b",
          "type": "PROCESSOR",
          "groupId": "c8e67ce8-a4a8-3dae-aa03-0325f4b2a4fe",
          "name": "PutFile",
          "comments": "",
          "instanceIdentifier": "21e3bfd5-0198-1000-d4ac-dadc81d43730"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [

        ],
        "bends": [

        ],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "c8e67ce8-a4a8-3dae-aa03-0325f4b2a4fe"
      },
      {
        "identifier": "00b1b29c-83cd-3425-85f8-1554509af6a0",
        "instanceIdentifier": "21f4eba6-0198-1000-4c86-930f66e079bd",
        "name": "",
        "source": {
          "id": "598e60a8-0881-3ac6-a261-76629bb1ea24",
          "type": "INPUT_PORT",
          "groupId": "c8e67ce8-a4a8-3dae-aa03-0325f4b2a4fe",
          "name": "1",
          "instanceIdentifier": "21f4c162-0198-1000-3339-7e069036ab38"
        },
        "destination": {
          "id": "f3d93f1d-bcac-3445-ab58-a72771fed1ca",
          "type": "PROCESSOR",
          "groupId": "c8e67ce8-a4a8-3dae-aa03-0325f4b2a4fe",
          "name": "ExecuteSQL",
          "comments": "",
          "instanceIdentifier": "21d92895-0198-1000-9495-4ba7c4dee9c3"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": [
          ""
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [

        ],
        "bends": [

        ],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "c8e67ce8-a4a8-3dae-aa03-0325f4b2a4fe"
      },
      {
        "identifier": "25059194-8c12-3aca-b5b2-5ff64cf108fd",
        "instanceIdentifier": "21f512b7-0198-1000-73ea-62f752b5821b",
        "name": "",
        "source": {
          "id": "7f988e1e-c141-3428-b0c6-5f140c82321b",
          "type": "PROCESSOR",
          "groupId": "c8e67ce8-a4a8-3dae-aa03-0325f4b2a4fe",
          "name": "PutFile",
          "comments": "",
          "instanceIdentifier": "21e3bfd5-0198-1000-d4ac-dadc81d43730"
        },
        "destination": {
          "id": "072d42eb-e718-3ec9-aefc-08f8bd0f4af6",
          "type": "OUTPUT_PORT",
          "groupId": "c8e67ce8-a4a8-3dae-aa03-0325f4b2a4fe",
          "name": "2",
          "instanceIdentifier": "21f4fab9-0198-1000-fdb4-83bafd031606"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [

        ],
        "bends": [

        ],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "c8e67ce8-a4a8-3dae-aa03-0325f4b2a4fe"
      }
    ],
    "labels": [

    ],
    "funnels": [
      {
        "identifier": "22c0757f-be51-348e-beff-45b96a7e6905",
        "instanceIdentifier": "21f51e5e-0198-1000-2780-01ff04b7cf7d",
        "position": {
          "x": 439.05862256274634,
          "y": -2300.6216050958847
        },
        "componentType": "FUNNEL",
        "groupIdentifier": "c8e67ce8-a4a8-3dae-aa03-0325f4b2a4fe"
      }
    ],
    "controllerServices": [
      {
        "identifier": "ad4d3fe4-485d-3c69-a2d7-5e18b2a8d51e",
        "instanceIdentifier": "21e04844-0198-1000-07aa-748b19fa06af",
        "name": "JsonRecordSetWriter",
        "comments": "",
        "type": "org.apache.nifi.json.JsonRecordSetWriter",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-record-serialization-services-nar",
          "version": "2.0.0"
        },
        "properties": {
          "Allow Scientific Notation": "false",
          "compression-level": "1",
          "Pretty Print JSON": "false",
          "compression-format": "none",
          "Schema Write Strategy": "no-schema",
          "suppress-nulls": "never-suppress",
          "output-grouping": "output-array",
          "schema-name": "${schema.name}",
          "schema-access-strategy": "inherit-record-schema",
          "schema-text": "${avro.schema}"
        },
        "propertyDescriptors": {

        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.serialization.RecordSetWriterFactory",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "2.0.0"
            }
          }
        ],
        "scheduledState": "ENABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "c8e67ce8-a4a8-3dae-aa03-0325f4b2a4fe"
      },
      {
        "identifier": "fbc1f7f7-3a2d-334d-8f3e-3cd6f6dee42b",
        "instanceIdentifier": "21d9f1f4-0198-1000-7ca9-8a28b67e9900",
        "name": "DBCPConnectionPool",
        "comments": "",
        "type": "org.apache.nifi.dbcp.DBCPConnectionPool",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-dbcp-service-nar",
          "version": "2.0.0"
        },
        "properties": {
          "dbcp-min-idle-conns": "0",
          "Max Wait Time": "500 millis",
          "Database Driver Class Name": "com.mysql.cj.jdbc.Driver",
          "dbcp-min-evictable-idle-time": "30 mins",
          "Max Total Connections": "8",
          "dbcp-max-conn-lifetime": "-1",
          "Database Connection URL": "localhost:3306",
          "dbcp-time-between-eviction-runs": "-1",
          "Database User": "root",
          "dbcp-soft-min-evictable-idle-time": "-1",
          "database-driver-locations": "C:/Users/29948/Downloads/mysql-connector-j-8.0.33/mysql-connector-j-8.0.33/mysql-connector-j-8.0.33.jar",
          "dbcp-max-idle-conns": "8",
          "Password": "enc{40884fc95fc33717c327a9d9231be29eaebe04aa6f549a0cab7e70794d8dd2c28918d2d59c77}"
        },
        "propertyDescriptors": {

        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.dbcp.DBCPService",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "2.0.0"
            }
          }
        ],
        "scheduledState": "ENABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "c8e67ce8-a4a8-3dae-aa03-0325f4b2a4fe"
      },
      {
        "identifier": "dc7100af-dac5-3b38-8647-9869b9d544c2",
        "instanceIdentifier": "21e0297a-0198-1000-b728-f07602ccafc2",
        "name": "AvroReader",
        "comments": "",
        "type": "org.apache.nifi.avro.AvroReader",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-record-serialization-services-nar",
          "version": "2.0.0"
        },
        "properties": {
          "schema-name": "${schema.name}",
          "cache-size": "1000",
          "schema-access-strategy": "embedded-avro-schema",
          "schema-text": "${avro.schema}"
        },
        "propertyDescriptors": {

        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.serialization.RecordReaderFactory",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "2.0.0"
            }
          }
        ],
        "scheduledState": "ENABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "c8e67ce8-a4a8-3dae-aa03-0325f4b2a4fe"
      }
    ],
    "defaultFlowFileExpiration": "0 sec",
    "defaultBackPressureObjectThreshold": 10000,
    "defaultBackPressureDataSizeThreshold": "1 GB",
    "scheduledState": "ENABLED",
    "executionEngine": "INHERITED",
    "maxConcurrentTasks": 1,
    "statelessFlowTimeout": "1 min",
    "componentType": "PROCESS_GROUP",
    "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
    "flowFileConcurrency": "UNBOUNDED"
  }
}